# --- Pattern code to be based on ---
/.pattern

# --- Execs ---
visualizer
*.out
*.exe

# --- Obj and libs ---
*.o
*.obj
*.a
*.so
*.dylib
/lib

# --- Test files ---
tests/*.test
*.log
*.gcov
*.gcda
*.gcno
valgrind_log.txt

# --- Build ---
build/
bin/
dist/

# --- Just in case i left something ---
.vscode/
*.wav
*.mp3